@model Fil_rouge_evente.Metier.Promotion
@{
    ViewBag.Title = "ajouterPromotion";
}

<h2>ajouterPromotion: vue admin</h2>

<div>
    @using (Html.BeginForm("ajouterPromotion", "Produit", FormMethod.Post))
    {
        <span>@Html.DisplayNameFor(model => model.NomPromotion) : </span><span>@Html.TextBoxFor(model => model.NomPromotion)</span><br />
        <span>@Html.DisplayNameFor(model => model.Remise) : </span><span>@Html.TextBoxFor(model => model.Remise)</span><br />
        <button type="submit">Ajouter</button>
    }
</div>

